body {	
	background: #fbfbfb;
}

.row {	
    display: flex;
    flex-flow: row wrap;    
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 900px;	
}

.column {
    flex: 50%;      
}

table {
	border-collapse: collapse;
	color: red;		
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;	
}

td {
   border: 1px solid black;
   width: 40px;
   height: 40px;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
}

td:nth-child(1) {
	border-left: 3px solid black;
}

td:nth-child(3n) {
	border-right: 3px solid black;
}

tr:nth-child(1) {
	border-top: 3px solid black;
}

tr:nth-child(3n) {
	border-bottom: 3px solid black;
}

h1 {
	margin-top: 10px;
	margin-bottom: 12px;
}

h2 {
	margin-top: 40px;
	margin-bottom: 12px;
}

button {
	border-radius: 8px;
	background-color: #fbfbfb;
	border: none;
	text-decoration: none;
	font-size: 16px;
	padding: 4px 4px;
	border: 2px solid #4CAF50;
	cursor: pointer;
}

button.main {	
	font-weight: bold;
	margin-right: 10px;	
	font-size: 18px;	
	display:block;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;	
	padding: 4px 136px;
}

button.up {
	width: 97px;	
}

button.down {
	width:130px;	
}

#paragraf {	
	margin-top: 10px;
	margin-bottom: 5px;	
	font-size: 20px;
}

#difficulty {
	font-weight: bold; 
}

.active {
	border: 1px solid green;	
	background-color: #fdcac4;
}

.solved-cell {
	color: black;
}

.unchangeable {
	cursor: default;
}

#message {	
	margin-top: 10px;
	margin-bottom: 10px;	
	font-size: 20px;
	font-weight: bold;
}

ul {	
  	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    min-width: 360px;
}

li {
	text-align: left;
}

input {
	border:0;
	padding:0;
	width: 0;
}